<div class="confirm-container p-2">
  <h1 mat-dialog-title >Reset Password!</h1>
  <div mat-dialog-content style="bottom: 10px;position: relative;">
    Are you sure? <br>You want to reset this password.</div>

  <div mat-dialog-actions style="float:right;bottom: 18px;position: relative;" >
    <button mat-button [mat-dialog-close]="{ clicked: 'Ok'}" style="background-color: #1c1c1c;color: #EBAC21;">Ok</button>
    <button mat-button [mat-dialog-close]="{ clicked: 'Cancel'}" style="background-color: #EBAC21;color: #1c1c1c;">
      Cancel
    </button>
  </div>
</div>