.localAuthority {
    //    border:  1px solid red;
   height: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  .localSectionForm {
    width: 98%;
    height: 90%;
    // border:  1px solid rgb(99, 76, 76);
    text-align: center;
    position: relative;
    margin: auto;
    background-color: rgb(247, 242, 242);
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .localTitle {
    position: relative;
    left: 10px;
    color: rgb(116, 113, 113);
  }
  
  mat-form-field {
    width: 80%;
  }
  
  
  // -----------------frmNavBar----------------
  
  .formNavBar {
    width: 98%;
    height: 50px;
    background-color: #7fc2ff;
    text-align: center;
    position: relative;
    margin: auto;
    color: white;
  }
  
  .formNavBar p:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
  
  
  // ----------------------------table--------------------------
  
  .pagination {
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 56px;
    position: relative;
    margin: auto;
    text-align: center;
  
  }
  
  .demo-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  
  .tableSection {
    background-color: rgb(255, 255, 255);
    width: 98%;
    position: relative;
    margin: auto;
    text-align: center;
    top: 20px;
    
  }
  
  .mat-elevation-z8 {
    width: 100%;
    box-shadow: none;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
  }
  
  .delete {
    color: red;
    cursor: pointer;
  }
  
  .update {
    color: green;
    cursor: pointer;
  }
  
  td,
  th {
    text-align: center !important;
    vertical-align: middle !important;
  }
  
  .hand :hover{
    color: green;
  }

  .errorTable{
    width: 100%;
    height: 28vh;
    // border: 1px solid red;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    bottom: 20px;
  }