<img src="../../../../../../assets/compassmainBackground.png" alt="">
<section class="localAuthority">
  
  <div class="formNavBar row" style="background-color: #ebac21;">
    <h1 class="localTitle mt-2 col-12 d-flex justify-content-start" style="color: #1c1c1c">
      Backoffice Management Dashboard
    </h1>


    <form>
      <div class="d-flex justify-content-center">
        <div class="col-3 localTextField d-flex justify-content-end"
          style="position: relative; bottom: 44px; left: 15%">
        </div>

      </div>
    </form>
  </div>

  <div class="localSectionForm row-1 mt-2 p-4 ">
    <h3 class="localTitle d-flex justify-content-start" style="position: relative; left: 18px; top: 10px">
      <!-- BackOffice Management Dashboard -->
    </h3>

    <!-- -------------first row------------ -->
    <div class="row p-4" style="position: relative;bottom: 20px;">

      <div class="one">
        <h1 class="centerNumber1"><b>{{artistCount}}</b></h1>
        <h1 class="centerWord1"><b>Artist Count</b></h1>
      </div>

      <div class="two">
        <h1 class="centerNumber1"><b>{{contentCount}}</b></h1>
        <h1 class="centerWord1"><b>Total Content Count</b></h1>
      </div>

     
      </div>


      <div class="row p-4" style="position: relative;bottom: 20px;">

        <div class="three">
          <h1 class="centerNumber1"><b>{{invoiceCount}}</b></h1>
          <h1 class="centerWord1"><b>Issue Invoice Count</b></h1>
        </div>
  
        <div class="four">
          <h1 class="centerNumber1"><b>{{paymentCount}}</b></h1>
          <h1 class="centerWord1"><b>Total Transaction Count</b></h1>
        </div>

    </div>

      
    </div>
</section>